<!-- Code renvoyé par la route index.mjs  /new
    Dans la section body du Layout
    Pour l'url http://localhost:3000/players/new   -->

<h2 class = "page-header">New player</h2>

<!--<form action="/players" method="POST" enctype = "multipart/form-data">-->
<form action="/players" method="POST">
    <%- include('_form_fields') %>
    <a href="/players" class="cancel">Cancel</a>
    <button type = "submit">Create</button>
</form>