<!-- Code injecté dans le header du layout 
par la syntaxe (<)%- include('../partials/header.ejs') %>  -->

<header>
<nav class = "header-nav">
    <a class = "header-title" href="/">Statify</a>
    <ul>
        <li><a href="/players">Players</a></li>
        <li><a href="/players/new">Add Player</a></li>
    </ul>
</nav>
</header>