<!-- Code renvoyé par la route index.mjs
    Dans la section body du Layout
    Pour l'url http://localhost:3000/  -->

<h1 class = "page-header">Welcome to our FIFA Players Database API!</h1>
<p>Discover the Legends, Unearth the Rising Stars</p>
<p>Dive into the world of football excellence with our comprehensive FIFA Players Database API. Whether you're a die-hard fan or a data enthusiast, this platform is your gateway to exploring the extraordinary players who have left an indelible mark on the beautiful game.</p>
<p>Start your journey today!</p>




